/*body {
    background-color:#EB984E;
  }
  */
img{
  width: 725px;
  margin-top: 50px;
}

LI {
  font-size: 30px;
  font-family: sans-serif;
}

.home_background {
    background-color: burlywood;
}

.dog_background{
  background-color: white;
}

table, th, td {
   border: 1px solid black;
}


H3.main_heading {
  font-family:cursive;
  color: red;
  font-size: 40pt;
}
